
{% extends "base.html" %}

{% block title %}sing{% endblock %}

{% block head %}

<head>
  {{super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='sing.css') }}">
</head>
{% endblock %}

{% block content %}

<aside id='popular'>
  <div id="asidePopular">popular</div>
  {% for song in popular %}
    <div class='asideSong' onclick=sing(this) id='{{song.id}}'> {{song.name}}</div>
  {% endfor %}
</aside>

<div id="concert">
  <h1>Karaoke</h1>
  <div id='tune'></div>

  <h1>Mp3 Player</h1>
  <audio id='music' controls src="/OneRepublic - Counting Stars [Lyrics].mp3"></audio>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='sing.js') }}"></script>
{% endblock %}

{% block footer %}
  cashed: {{cached}} size: {{size}} time: {{ex_time}}
{% endblock %}