
{% extends "base.html" %}

{% block title %}sing{% endblock %}

{% block head %}

<head>
  {{super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='sing.css') }}">
</head>
{% endblock %}

{% block content %}
<div id="concert">
  <h1>Karaoke</h1>
  <div id='song'>
    <div class="song"></div>
    <div class="song">Lately, I've been, I've been losing sleep</div>
    <div class="song">Dreaming about the things that we could be</div>
  </div>

  <h1>Mp3 Player</h1>
  <audio id='music' controls src="/OneRepublic - Counting Stars [Lyrics].mp3"></audio>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='sing.js') }}"></script>
{% endblock %}