
@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

body {
  font-family: 'Barlow', sans-serif;
}

#clock {
  position: fixed;
  font-size: 1.6em;
  left:50%;
  margin-left: -2.3em;
  top: 2em;
  width:4.6em;
  height: 1.5em;
  background-color: pink;
}

#newSong, #editS {
  display: none;
  flex-wrap: wrap;
  width: 20em;
  margin: auto;
}

.songBit {
  width: 100%;
}

#lyrics {
  min-height: 20em;
}

#concert {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#workdesk {
  padding-bottom: 12em;
  padding-top: 5em;
}

#song {
  display: inline-block;
}

.song {
  position: relative;
  font-size: 2em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue 50%, red 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100% 0;
  text-decoration: none;
}

.line {
  position: relative;
  display: inline-block;
  flex-wrap: wrap;
  padding-top: 1em;
}

.line button{
  position: absolute;
  right: -1em;
  font-size: 1.8em;
}

.char{
  font-size: 2.3em;
  min-width: 0.5em;
  border: 1px solid seagreen;
  text-align: center;
}

.clicked{
  background-color: antiquewhite;
}

#mp3player{
  position: fixed;
  background-color: rgb(139, 168, 50, 0.6);
  left: 50%;
  margin-left: -8.7em;
  bottom: 2em;
}