@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

#concert{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#song{
  display: inline-block;
}

.song {
  position: relative;
  font-size: 2em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue 50%, red 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100% 0;
  text-decoration: none;
}

/* .sing {
  transition: background-position 5000ms linear;
  background-position: 0% 0;
}  */

/*royalblue*/