@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

body {
  font-family: 'Barlow', sans-serif;

}

#popular {
  position: fixed;
  left: 0;
  height: 90%;
  margin-top: 2em;
  width: 8em; 
  overflow-y: scroll;
}

#asidePopular, .asideSong {
  color: aliceblue;
  background-color: rgb(91, 80, 100);
  font-size: 1.2em;
  border-width: 2px;
  border-style: solid;
  border-color: sandybrown;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  cursor: pointer;
}

#asidePopular:hover, .asideSong:hover {
  color: rgb(91, 80, 100);
  background-color: aliceblue;
}

#asidePopular {
  font-weight: bold;
  background-color: rgb(60, 123, 128);
}

#concert{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#controls {
  position: fixed;
  bottom: 0;
}

#song{
  display: inline-block;
}

.line {
  position: relative;
  font-size: 2em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue 50%, red 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100% 0;
  text-decoration: none;
  min-height: 1em;
}

#clock{
  visibility: hidden;
}

/* .sing {
  transition: background-position 5000ms linear;
  background-position: 0% 0;
}  */

/*royalblue*/