

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<div id="concert">
  <h1>Karaoke</h1>
  <div id='song'>
    <div class="song"></div>
    <div class="song">Lately, I've been, I've been losing sleep</div>
    <div class="song">Dreaming about the things that we could be</div>
  </div>

  <h1>Mp3 Player</h1>
  <audio id='music' controls src="/OneRepublic - Counting Stars [Lyrics].mp3"></audio>
</div>
<a href="/compositor.html">compositor</a>
<script type="text/javascript" src="sing.js"></script>