<!DOCTYPE html>
<html>

<head>

	<title>mp3 test</title>
	<link href="test.css" rel="stylesheet" type="text/css">
</head>
<body>

	<h1>Mp3 Player</h1>
	<audio id='music' controls src="/home/jhon/Clips/OneRepublic - Counting Stars [Lyrics].mp3">

    Your browser does not support the
    <code>audio</code> element.
	</audio>
	<div>
		<small id='sung'></small>
		<small id='text'>
			<div class='line'><span data-content="Lately, I've been, I've been losing sleep" aria-hidden="true"></span>Lately, I've been, I've been losing sleep</div>
			<small>Dreaming about the things that we could be</small>
			<p>But baby, I've been, I've been praying hard</p>
			<p>Said no more counting dollars</p>
			<p>We'll be counting stars</p>
			<p>Yeah, we'll be counting stars</p>
			<p>I see this life, like a swinging vine</p>
			<p>Swing my heart across the line</p>
			<p>And in my face is flashing signs</p>
			<p>Seek it out and ye shall find</p>
			<p>Old, but I'm not that old</p>
			<p>Young, but I'm not that bold</p>
			<p>And I don't think the world is sold</p>
			<p>On just doing what we're told</p>
			<p>I feel something so right</p>
			<p>Doing the wrong thing</p>
			<p>And I feel something so wrong</p>
			<p>Doing the right thing</p>
			<p>I couldn't lie, couldn't lie, couldn't lie</p>
			<p>Everything that kills me makes me feel alive</p>
			<p>Lately, I've been, I've been losing sleep</p>
			<p>Dreaming about the things that we could be</p>
			<p>But baby, I've been, I've been praying hard</p>
			<p>Said no more counting dollars</p>
			<p>We'll be counting stars</p>
			<p>Lately, I've been, I've been losing sleep</p>
			<p>Dreaming about the things we could be</p>
			<p>But baby, I've been, I've been praying hard</p>
			<p>Said no more counting dollars</p>
			<p>We'll be, we'll be counting stars</p>
			<p>Yeah</p>
			<p>I feel your love and I feel it burn</p>
			<p>Down this river, every turn</p>
			<p>Hope is our four-letter word</p>
			<p>Make that money, watch it burn</p>
			<p>Old, but I'm not that old</p>
			<p>Young, but I'm not that bold</p>
			<p>And I don't think the world is sold</p>
			<p>On just doing what we're told</p>
			<p>And I feel something so wrong</p>
			<p>Doing the right thing</p>
			<p>I couldn't lie, couldn't lie, couldn't lie</p>
			<p>Everything that drowns me makes me wanna fly</p>
			<p>Lately, I've been, I've been losing sleep</p>
			<p>Dreaming about the things that we could be</p>
			<p>But baby, I've been, I've been praying hard</p>
			<p>Said no more counting dollars</p>
			<p>We'll be counting stars</p>
			<p>Lately, I've been, I've been losing sleep</p>
			<p>Dreaming about the things that we could be</p>
			<p>But baby, I've been, I've been praying hard</p>
			<p>Said no more counting dollars</p>
			<p>We'll be, we'll be counting stars</p>
			<p>Oh, take that money, watch it burn</p>
			<p>Sink in the river the lessons I've learned</p>
			<p>Take that money, watch it burn</p>
			<p>Sink in the river the lessons I've learned</p>
			<p>Take that money, watch it burn</p>
			<p>Sink in the river the lessons I've learned</p>
			<p>Take that money, watch it burn</p>
			<p>Sink in the river the lessons I've learned</p>
			<p>Everything that kills me</p>
			<p>Makes me feel alive</p>
			<p>Lately, I've been, I've been losing sleep</p>
			<p>Dreaming about the things that we could be</p>
			<p>But baby, I've been, I've been praying hard</p>
			<p>Said no more counting dollars</p>
			<p>We'll be counting stars</p>
			<p>Lately, I've been, I've been losing sleep</p>
			<p>Dreaming about the things that we could be</p>
			<p>But baby, I've been, I've been praying hard</p>
			<p>Said no more counting dollars</p>
			<p>We'll be, we'll be counting stars</p>
			<p>Take that money, watch it burn</p>
			<p>Sink in the river the lessons I've learned</p>
			<p>Take that money, watch it burn</p>
			<p>Sink in the river the lessons I've learned</p>
			<p>Take that money, watch it burn</p>
			<p>Sink in the river the lessons I've learned</p>
			<p>Take that money, watch it burn</p>
			<p>Sink in the river the lessons I've learned</p>
		</small>
	</div>
</body>
<!-- <script type="text/javascript">
	var obj = document.getElementById('music');
	obj.playbackRate = 0.2;
	console.log('obj', obj.playbackRate);
</script> -->
<!-- <script type="text/javascript" src="test.js"></script> -->
</html>